.mainPage {
  background-color: #eeeeee;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  scale: 1.01;
  transition-duration: 0.4s;
}
.card {
  background-color: white;
}
.cardDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  gap: 20px;
  margin: 0 auto;
  
}
.cardDiv img {
  width: 100%;
}
.catagoryCard {
  display: flex;
  justify-content: center;
  gap: 20px;
 margin-top: 20px;
 margin-bottom: 30px;
}
.catagory:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.catagory {
  background-color: white;
 width: 42%;
 height: 60px;
}
.weddingImage{
    margin-top: -4px;
}

