*{
  font-family: sans-serif;
  padding: none;
  margin: none;
}
.mainPage {
  background-color: white;
  padding-top: 20px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  scale: 1.01;
  transition-duration: 0.4s;
}
.card {
  background-color: white;
}
.cardDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  gap: 20px;
  margin: 0 auto;
  background-color: white;
}
@media only screen and (max-width: 800px) {
  .cardDiv { 
    grid-template-columns: repeat(2,1fr);
  }
}
.cardDiv img {
  width: 100%;
}
.catagoryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 margin-top: 20px;
 margin-bottom: 30px;
}
.catagory:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.catagory {
  background-color: white;
 width: 42%;
 padding-top: 20px;
 padding-bottom: 20px;
}
.weddingImage{
    margin-top: -4px;
}
.topBrand{
  position: relative;
  text-align: start;
  background-color: white;
  font-size: 25px;
  width: 100px;
  background-color: #f3f3f3;
}
.slidingBrand{
  position: absolute;
  margin-top: -50px;
  margin-left: 100px;
}
.scrollButton1{
  margin-left: 95%;
  color: #eeeeee;
  border: white;
}
.mainPageMargin{
  margin: 0 100px;
  /* margin-left: 200px; */
}
.scrollButton2{
  margin-left: 96%;
  border: 1px solid black;
  margin-bottom: 200px;
  background-color: rgb(249, 154, 120);
  padding: 10px;
}
.scrollButton2:hover{
  background-color: orangered;
}
.flex{
  display: flex;
}
.brands{
   display: grid;
   grid-template-columns: repeat(8,1fr);
}