.leftside{
    display: flex;
    margin-right: 100px;
    /* width: 700px; */
    /* flex-direction: row; */
    /* background-color: #00325f; */
}
.productInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 700px;
}
.smallimgcontainer:Hover{
    border: 2px solid tomato;
}
.leftrightcontainer{
    display: flex;
    /* width: 600px; */
}
.rightside{
    margin-left: 40px;
    max-width: 600px;
    /* flex-grow: 1; */
}
.pricedetails{text-align: left;}
.productmrp{
    text-decoration: line-through;

}
.productprice{
    font-size: 20px;
    color: #00325f;
    line-height: 28px;
    margin-right: 10px;
    font-weight: bolder;
}
.productoffer{
    margin-left: 20px;
    color: orangered;
}
.mrpinfo{
    margin-bottom: 15px;
    margin-top: -4px;
    /* font-family: RobotoLR; */
    font-size: 13px;
    color: #616161;
    line-height: 18px;
}
.clubcontainer{
    border: 2px solid lightgrey;
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.colorshow{
    height: 15px;
    width: 15px;
    /* background-color: #616161; */
    border-radius: 2px;
    
    margin: 2px;
}
.outercolorshow{
    /* border: 2px solid red; */
    width: fit-content;
    border-radius: 5px;
    margin-left: 20px;
}
.colorbox{
    display: flex;
    margin-top: 35px;
}
.offerscontainer{
    display: flex;
    flex-direction: row;
    margin-top: 20PX;
}
.offerscontainer > div > img{ margin: auto;}
.Extradetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.Extradetails > div{
    margin: 20px;
}
.buttongroup{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.producttitle{
    
    font-size: 20px;
    /* color: #424242; */
    color:black;
    line-height: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight:500;
}

.productdescription{
    /* font-size: 14px; */
    color: #b4b4b4;
    line-height: 20px;
    margin-top: -10px;
    /* font-weight: 700; */
}
.leftrightcontainer{

    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}
.mdallimgcontainer:hover{
    border: 2px solid tomato;
}